In [157]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection
from sklearn_pandas import DataFrameMapper
#from sklearn import ensemble
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
import shap
from sklearn.model_selection import train_test_split
from sklearn import tree
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Normalizer
from tensorflow.keras.layers.experimental import preprocessing
import keras
import tensorflow as tf
#https://subscription.packtpub.com/book/data/9781838552862/1/ch01lvl1sec10/train-and-test-data

In [116]:
data=pd.read_csv(r"C:\Users\gvarv\anaconda3\envs\thesis\media\mpg_data_example.csv")

In [117]:
data.isnull().sum()
#koitame poio exei missing values

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [118]:
y = data['mpg']

y.head(10)

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
5    15.0
6    14.0
7    14.0
8    14.0
9    15.0
Name: mpg, dtype: float64

In [119]:
imp=SimpleImputer()

In [120]:
data["horsepower"]=imp.fit_transform(data[["horsepower"]]).ravel()

In [121]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [122]:
print(data)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [123]:
#ohe=pd.get_dummies(dataframe_name['column_name'])
#enc = OneHotEncoder(handle_unknown='ignore')

In [124]:
data['origin'] = data['origin'].map({1: 'USA', 2: 'Europe', 3: 'Japan'})
data = pd.get_dummies(data, prefix='', prefix_sep='')
data.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,Europe,Japan,USA,...,volvo 145e (sw),volvo 244dl,volvo 245,volvo 264gl,volvo diesel,vw dasher (diesel),vw pickup,vw rabbit,vw rabbit c (diesel),vw rabbit custom
393,27.0,4,140.0,86.0,2790,15.6,82,0,0,1,...,0,0,0,0,0,0,0,0,0,0
394,44.0,4,97.0,52.0,2130,24.6,82,1,0,0,...,0,0,0,0,0,0,1,0,0,0
395,32.0,4,135.0,84.0,2295,11.6,82,0,0,1,...,0,0,0,0,0,0,0,0,0,0
396,28.0,4,120.0,79.0,2625,18.6,82,0,0,1,...,0,0,0,0,0,0,0,0,0,0
397,31.0,4,119.0,82.0,2720,19.4,82,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [125]:
#data["origin"]=enc.fit_transform(data[["origin"]])

In [109]:
print(data)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name
0            70     USA  chevrolet chevelle malibu
1            70     USA          buick skylark 320
2            70     USA         plymouth satellite
3            70     USA              amc rebel sst
4            70     USA                ford torino
..          ...     ...                        ...
393          82     USA            ford mustang gl
394          82  Europe                  vw pickup
395          82     USA              dodge rampage
396          82     USA                ford ranger
397          82     USA                 chevy s-10

[398 rows x 9 columns]

In [129]:
train_data = data.sample(frac=0.8, random_state=0)
test_data = data.drop(train_data.index)

In [130]:
#sdc=preprocessing.StandardScaler()

In [131]:
#data[['cylinders','displacement','weight','acceleration','model year']] = sdc.fit_transform(data[['cylinders','displacement','weight','acceleration','model year']])

In [132]:
#data["origin"]=enc.fit_transform(data[["origin"]])

In [134]:
train_features = train_data.copy()
test_features = test_data.copy()

train_labels = train_features.pop('mpg')
test_labels = test_features.pop('mpg')

In [135]:
data.shape

(398, 315)

In [137]:
train_data.describe().transpose()[['mean', 'std']]

                             mean         std
mpg                     23.590566    7.913617
cylinders                5.427673    1.682941
displacement           193.061321  103.812742
horsepower             104.073418   38.368477
weight                2963.823899  844.749805
...                           ...         ...
vw dasher (diesel)       0.003145    0.056077
vw pickup                0.003145    0.056077
vw rabbit                0.003145    0.056077
vw rabbit c (diesel)     0.003145    0.056077
vw rabbit custom         0.003145    0.056077

[315 rows x 2 columns]

In [148]:
normalizer = preprocessing.Normalization()

In [150]:
normalizer.adapt(np.array(train_features))

In [151]:
print(normalizer.mean.numpy())

[5.4276729e+00 1.9306133e+02 1.0407342e+02 2.9638240e+03 1.5595912e+01
 7.5946541e+01 1.6352202e-01 1.9496855e-01 6.4150941e-01 3.1446540e-03
 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 1.2578616e-02 6.2893080e-03 3.1446540e-03 1.5723271e-02
 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03 3.1446540e-03
 3.1446540e-03 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 0.0000000e+00 6.2893080e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 6.2893080e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 6.2893080e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 0.0000000e+00 3.1446540e-03 6.2893080e-03 6.2893080e-03
 9.4339624e-03 9.4339624e-03 3.1446540e-03 9.4339624e-03 3.1446540e-03
 0.0000000e+00 3.1446540e-03 3.1446540e-03 0.0000000e+00 0.0000000e+00
 3.1446540e-03 3.1446540e-03 9.4339624e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 0.0000000e+00 0.0000000e+00 3.1446540e-03 0.0000000e+00
 3.1446540e-03 0.0000000e+00 3.1446540e-03 6.2893080e-03 3.1446540e-03
 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 6.2893080e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 6.2893080e-03
 3.1446540e-03 3.1446540e-03 6.2893080e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03 0.0000000e+00
 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00
 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03
 3.1446540e-03 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03
 0.0000000e+00 3.1446540e-03 0.0000000e+00 0.0000000e+00 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 9.4339624e-03 6.2893080e-03 6.2893080e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 6.2893080e-03 3.1446540e-03 1.2578616e-02
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 1.2578616e-02 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03
 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03 3.1446540e-03
 3.1446540e-03 9.4339624e-03 0.0000000e+00 0.0000000e+00 3.1446540e-03
 6.2893080e-03 0.0000000e+00 3.1446540e-03 3.1446540e-03 6.2893080e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00
 6.2893080e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 6.2893080e-03 3.1446540e-03
 1.2578616e-02 3.1446540e-03 0.0000000e+00 0.0000000e+00 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00 9.4339624e-03
 0.0000000e+00 3.1446540e-03 9.4339624e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 6.2893080e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 9.4339624e-03 0.0000000e+00 0.0000000e+00 3.1446540e-03 3.1446540e-03
 0.0000000e+00 3.1446540e-03 6.2893080e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 6.2893080e-03 6.2893080e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 9.4339624e-03 0.0000000e+00 0.0000000e+00 3.1446540e-03 3.1446540e-03
 6.2893080e-03 0.0000000e+00 3.1446540e-03 3.1446540e-03 3.1446540e-03
 6.2893080e-03 0.0000000e+00 3.1446540e-03 0.0000000e+00 0.0000000e+00
 3.1446540e-03 3.1446540e-03 3.1446540e-03 6.2893080e-03 0.0000000e+00
 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 0.0000000e+00 3.1446540e-03
 3.1446540e-03 3.1446540e-03 3.1446540e-03 3.1446540e-03]

In [152]:
first = np.array(train_features[:1])

with np.printoptions(precision=2, suppress=True):
  print('First example:', first)
  print()
  print('Normalized:', normalizer(first).numpy())

First example: [[   8.  351.  153. 4129.   13.   72.    0.    0.    1.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    1.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
     0.    0.]]

Normalized: [[ 1.53  1.52  1.28  1.38 -0.93 -1.07 -0.44 -0.49  0.75 -0.06  0.   -0.06
  -0.06 -0.06 -0.06 -0.06 -0.11 -0.08 -0.06 -0.13 -0.06 -0.06  0.   -0.06
  -0.06 -0.06  0.   -0.06 -0.06 -0.06 -0.06 -0.06  0.   -0.08 -0.06 -0.06
  -0.06 -0.06 -0.06 -0.08 -0.06 -0.06 -0.06 -0.06 -0.08 -0.06 -0.06 -0.06
  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06  0.   -0.06 -0.08 -0.08
  -0.1  -0.1  -0.06 -0.1  -0.06  0.   -0.06 -0.06  0.    0.   -0.06 -0.06
  -0.1  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06  0.    0.   -0.06
   0.   -0.06  0.   -0.06 -0.08 -0.06  0.   -0.06 -0.06 -0.06 -0.06 -0.06
  -0.06 -0.08 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.08 -0.06 -0.06 -0.08
  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06
  -0.06 -0.06  0.   -0.06  0.    0.   -0.06 -0.06 -0.06  0.   -0.06 -0.06
  -0.06  0.   -0.06 -0.06  0.   -0.06 -0.06 -0.06  0.   -0.06  0.    0.
  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 10.25 -0.08 -0.08 -0.06 -0.06 -0.06
  -0.06 -0.08 -0.06 -0.11 -0.06 -0.06 -0.06 -0.06 -0.06 -0.11 -0.06 -0.06
   0.   -0.06 -0.06 -0.06  0.   -0.06 -0.06 -0.06 -0.1   0.    0.   -0.06
  -0.08  0.   -0.06 -0.06 -0.08 -0.06 -0.06 -0.06 -0.06 -0.06  0.   -0.06
  -0.06 -0.06 -0.06  0.   -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06
   0.   -0.06 -0.06 -0.06 -0.06  0.   -0.08 -0.06 -0.06 -0.06 -0.06 -0.06
  -0.06 -0.06 -0.08 -0.06 -0.11 -0.06  0.    0.   -0.06 -0.06 -0.06 -0.06
   0.   -0.1   0.   -0.06 -0.1  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06
  -0.06 -0.06 -0.06 -0.06 -0.08 -0.06 -0.06 -0.06 -0.06 -0.06 -0.1   0.
   0.   -0.06 -0.06  0.   -0.06 -0.08 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06
  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.08 -0.08 -0.06 -0.06 -0.06 -0.1
   0.    0.   -0.06 -0.06 -0.08  0.   -0.06 -0.06 -0.06 -0.08  0.   -0.06
   0.    0.   -0.06 -0.06 -0.06 -0.08  0.   -0.06 -0.06 -0.06  0.   -0.06
  -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06 -0.06  0.   -0.06 -0.06 -0.06
  -0.06 -0.06]]

In [161]:
def build_and_compile_model(norm):
  model = keras.Sequential([
      norm,
      keras.layers.Dense(64, activation='relu'),
      keras.layers.Dense(64, activation='relu'),
      keras.layers.Dense(1)
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.001))
  return model

In [162]:
dnn_model = build_and_compile_model(normalizer)
dnn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
normalization (Normalization (None, 314)               629
_________________________________________________________________
dense (Dense)                (None, 64)                20160
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 25,014
Trainable params: 24,385
Non-trainable params: 629
_________________________________________________________________

In [170]:
history = dnn_model.fit(
    train_features, train_labels,
    validation_split=0.2,
    verbose=0, epochs=100)